{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - module: The module that provided this block plugin.
 *   - cache: The cache settings.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block--type--order-block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>

  {{ title_prefix }}
  {% if content.field_title | render %}
    <h2{{ title_attributes }}>{{ content['#block_content'].field_title.value }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    {% if content.field_shop_link | render and content.field_book_title | render %}
    <div class="clearfix book-order-item">
      <figure class="order-book-image">
          {{ content.field_image_1 }}
      </figure>
      <h3><a href="{{ content['#block_content'].field_shop_link.value }}">{{ content['#block_content'].field_book_title.value }}</a></h3>
      <figure class="order-button">
        <a href="{{ content['#block_content'].field_shop_link.value }}"></a>
      </figure>
    </div>
    {% endif %}

    {% if content.field_show_book_2 | render and content['#block_content'].field_show_book_2.value == '1' %}
      {% if content.field_shop_link_2 | render and content.field_book_title_2 | render %}
      <div class="clearfix book-order-item">
        <figure class="order-book-image">
          {{ content.field_image_2 }}
        </figure>
        <h3><a href="{{ content['#block_content'].field_shop_link_2.value }}">{{ content['#block_content'].field_book_title_2.value }}</a></h3>
        <figure class="order-button">
          <a href="{{ content['#block_content'].field_shop_link_2.value }}"></a>
        </figure>
      </div>
      {% endif %}
    {% endif %}

  {% endblock %}
</div>
